<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GOOGLE_TRANSLATE_API_KEY</key>
	<string>AIzaSyBmoz31vd9Xh46SQmEq3qdIk7qhnx3LHmM</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_ewonic-xlat._tcp</string>
	</array>
        <key>UIApplicationSceneManifest</key>
        <dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
                </dict>
        </dict>
        <key>NSNearbyInteractionUsageDescription</key>
        <string>Peer-to-peer translation uses nearby radios to exchange text.</string>
        <key>NSPrivacyMicrophoneUsageDescription</key>
        <string>Live speech must be captured for on-device translation.</string>
        <key>com.apple.developer.audio-data</key>
        <true/>
</dict>
</plist>
